body {
    background: darkgray;
}
.board
{
    color: greenyellow;
    width:100%;
    height:100%;
}
.sprite
{
    width: 10px;
    height: 10px;
    z-index: 99;
    float: left;
}
.tower
{
    background-color: black;
}
.alien
{
    background-color: red;
}
.point
{
    width: 5px;
    height: 5px;
    background-color: blue;
}