body {
    background: darkgray;
}

.sprite
{
    width: 100px;
    height: 100px;
}
.tower
{
    color: black;
}

.alien
{
    color: red;
}
.point
{
    width: 1px;
    height: 1px;
    color: blue;
}